
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

body {
    background-image: url(imagenes/imanen.2.jpg);
    background-position: 5100% 100%;
    background-size: cover;
    font-family: "Montserrat"; 
    color:rgb(37, 37, 37)

}

 

#contenedor {
    background-image: url(imagenes/imanen.2.jpg);
    position:absolute;
    inset: 0;
    margin: auto;
    text-align: center;
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
    0 10px 10px rgba(0,0,0,0.22) ;

}

#calculadora {
    background: white;
    width: 50%;
    float: left;
    height: 100%;
}

#detalle {
    background: rgb(141, 72, 173);
    width: 50%;
    float: left;
    height: 100%;
    

}

h1 {
    font-family: "Montserrat"; 
    color:rgb(245, 239, 239)
}
h2{
    font-family: "Montserrat" ;
    color: rgb(188, 72, 192);
    overflow: hidden;
    padding: 10px;
    font-size: 12px;
    
}
ul {
    color:white;
}

.contenido {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
    padding: 40px;
   

}

input {
    width : 70%;
    padding: 12px 15px;
    border: none;
    background-color: #eee;
}

button {
    font-size: 15px;
        font-weight: bold;
        padding: 12px 45px;
        border-radius: 30px;
        background-color: #ca2ba8;
        border: 1px solid #ff418a;
        Color: #FFFFFF;
        text-transform: uppercase;
        letter-spacing: 1px;
        transition: transform 20ms ease-in;
        margin:5%;
}

button:active {
    transform: scale(0.95);
}

#error{
    color: red;
    font-weight: bold;
    display: none;
}

.resultado{
    color: rgb(164, 65, 177);
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 5px;
    display: none;
}
